<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
<!--Header-->
<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header_logo">
                <a href="{% url 'home' %}"><img id="logo" src="../../static/img/logoRates.png" alt=""></a>
            </div>
            <nav class="nav">
                {% for i in banks %}
                    <a class="nav_link" href="{% url 'branches' i.pk %}">{{ i.bank_name }}</a>
                {% endfor %}
            </nav>
        </div>
    </div>
</header> <!--/Header-->

<!--Intro-->
<div class="intro">
    <div class="intro_inner">
        <div class="container">
            <div style="margin-bottom: 30px"><h1 style="color: white">{{ bank.bank_name }}</h1></div>
            <table border="1">
                <tbody>
                <th>branch number</th>
                <th>city</th>
                <th>address</th>
                <th>phone</th>

                {% for i in branch %}
                    <tr>
                        <td>{{ i.branch_number }}</td>
                        <td>{{ i.city }}</td>
                        <td>{{ i.address }}</td>
                        <td>{{ i.phone }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

    </div>
</div>
</div> <!--/Intro-->


</body>
</html>






